* {
	margin: 0;
}

.main-container {
	width: 100vw;
}

.main-container > * {
	display: flex;
	min-height: 100vh;
}

svg {
	transform: scale(135%);
	max-height: 70%;
	width: 100%;
	overflow: hidden;
}

.paths path {
	fill: white;
	transition: fill 0.5s;
}

.paths path:hover {
	fill: black;
	transition: fill 0.5s;
}

#map {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 50px;
}

.sub-container {
	display: flex;
	height: 80vh;
	flex-direction: row;
	justify-content: center;
}

.sub-container > div {
	text-align: center;
	align-content: center;
}

#map > p {
	padding-bottom: 30px;
}

.sub-container-left {
	width: 20vw;
}
.sub-container-right {
	width: 30vw;
}



.Nav {
	width: 100vw;
	background: rgba(255, 255, 255, 1);
	position: fixed;
	display: flex;
	justify-content: center;
	flex-direction: row;
	list-style-type: none;
	gap: 50px;
	z-index: 100000;
}

.Nav > a {
	text-decoration: none;
	color: black;
	font-size: 15px;
	padding: 10px 25px 10px 25px;	
}

#intro, #culture, #more {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 50px 30vw 0 30vw;
}

#more {
	min-height: 85vh;
}

#intro {
	justify-content: center;
}

#culture > div {
	padding: 50px 0 50px 0;
}

.list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
	padding: 20px 0 20px 0;
	margin: 0 -15vw 0 -15vw;
}

.list > div {
	background: rgba(255, 255, 255, 0.2);
	height: 300px;
	width: 200px;
	align-content: center;	
}

.dropdown-menu {
	display: flex;
	flex-direction: column;
	gap: 10px;
	min-width: 100vw;
	padding: 40px 0 40px 0;
	margin: 0 -30vw 0 -30vw;
}

.dropdown-menu > .dropdown-button {
	align-content: center;
	background: rgba(0,0,0,0.2);
	padding: 40px 0 40px 0;
	min-height: 50px;
	border: 2px rgba(0,0,0,0.9) solid;
	transition: background 0.5s;
}

.dropdown-menu > .dropdown-button:hover {
	background: rgba(255, 255, 255, 0.05);
	transition: background 0.5s;
}


.dropdown-content {
	background: rgba(0, 0, 0, 0.5);
	padding: 40px 0 40px 0;
}

h1 {
	font-size: 100px;
	margin: 0 -200px 0 -200px;
}
h2 {
	font-size: 38px;
}
h3 {
	font-size: 15px;
}
h5 {
	color: rgba(0,0,0,0.3);
	font-size: 150px;
	padding-bottom: 70px;
	font-weight: 1000;
}
h6 {
	font-size: 30px;
}
p, li {
	font-size: 15px;
}
p {
	padding: 10px 0 10px 0;	
}

@media only screen and (max-width: 900px){
	#intro, #culture, #more {
		display: flex;
		flex-direction: column;
		text-align: center;
		padding: 50px 20vw 0 20vw;
	}
	
	.Nav {
		width: 100vw;
	}

	.Nav > a {
		font-size: 12px;
		padding: 10px 5px 10px 5px;	
	}
	h1 {
		font-size: 60px;
		margin: 0 -20px 0 -20px;
	}
	h2 {
		font-size: 30px;
	}
	h3 {
		font-size: 15px;
	}
	h5 {
		color: rgba(0,0,0,0.3);
		font-size: 150px;
		padding-bottom: 70px;
		font-weight: 1000;
	}
	h6 {
		font-size: 20px;
	}
	.sub-container {
		flex-direction: column;
	}
	.sub-container > div {
		width: 70vw;
	}
}

@media only screen and (max-width: 600px){
	#intro, #culture, #more {
		display: flex;
		flex-direction: column;
		text-align: center;
		padding: 50px 15vw 0 15vw;
	}
	.sub-container > div {
		width: 100vw;
	}
}
