* {
	margin: 0;
}

.main-container {
	width: 100vw;
}

.main-container > * {
	display: flex;
	height: 100vh;
	background: black;
	border: white 1px solid;
	padding: 0 20px 0 20px;
}

.sub-container > div {
	display: flex;
	border: white 1px dotted;
	height: 100%;
	width: 50vw;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.sub-container div > * {
	font-size: 2rem;
	color: red;
}

.Nav {
	width: 100vw;
	background: rgba(255, 255, 255, 0.5);
	position: fixed;
	display: flex;
	justify-content: right;
	flex-direction: row;
	list-style-type: none;
	gap: 50px;
}

.Nav > a {
	font-size: 25px;
	padding: 10px 50px 10px 0px;	
}

.Nav > img {
	flex-grow: 1;
	width: 20px;
	height: 20px;
	padding: 0 50px 0 50px;
}
