@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lexend+Exa:wght@100..900&family=Lexend:wght@100..900&family=Patua+One&display=swap');

#bukidnon { background: url("./assets/Bukidnon.jpg"); }
#higaonon { background: url("./assets/Higaonon.jpg"); }
#manobo { background: url("./assets/Manobo.jpg"); }
#matigsalug { background: url("./assets/Matigsalug.jpg"); }
#talaandig { background: url("./assets/Talaandig.jpg"); }
#tigwahanon { background: url("./assets/Tigwahanon.jpg"); }
#umayamnon { background: url("./assets/Umayamnon.jpg"); }

@keyframes fadeOut {
	0% {transform: translateY(0)}
	60% {transform: translateY(-300px)}
	100% {transform: translateY(-1000px)}
}

.fade-out {
	animation-name: fadeOut;
	animation-duration: 2.7s;
	animation-timing-function: ease-in-out;
}

.loading-screen {
	position: absolute;
	height: 100vh;
	width: 100vw;
	opacity: 100%;
	background: black;
	color: white;
	text-align: center;
	align-content: center;
	justify-content: center;
	z-index: 10;
	overflow: hidden;
}

.loading-screen * {
	color: white;
	list-style: none;
}

.loading-screen p{
	padding: 2vh 2vw 0 2vw;
}

.members {
	display: flex;
	width: 100vw;
	flex-direction: column;
	padding: 0 0 0 30px;
	text-align: left;
	justify-items: left;
}

.members > ol {
	display:flex;
	gap: 10px;
	flex-direction: row;
	padding: 0;
	transform: translateY(34vh);
}

.members > p {
	font-family: "Lexend", "serif";
	transform: translateY(33vh);
}

.loading {
	height: 100vh;
	overflow: hidden;
}

.player {
  	position: fixed;
 	bottom: 0;
  	right: 0;
  	padding: 15px;
  	background-color: rgba(0, 0, 0, 0.8);
  	color: white;
  	font-size: 16px;
  	border-top-left-radius: 20px;   
  	cursor: pointer;
	z-index: 2;
}

.player p {
	text-align: center;
	color: white;
}


html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	font-family: "Patua", serif;
  	font-style: normal;
}

.main-container {
	display: flex;
	flex-direction: column;
	width: 100vw;
	background: white;
	overflow-x: hidden;
	align-items: center;
}

.main-container > * {
	display: flex;
	min-height: 100vh;
	padding-top: 10vh;
}

.main-container-wrapper {
	position: fixed;
	height: 100vh;
	width: 80vw;
	justify-self: center;
	align-self: center;
	border-left: 10vw rgba(0,0,0,0.0) solid;
	border-right: 10vw rgba(0,0,0,0.0) solid;
}

#intro {
	position: relative;
	z-index: 1;
}

svg {
	transform: scale(135%);
	max-height: 70%;
	width: 100%;
	overflow: hidden;
}

.paths path {
	transition: fill 0.5s;
}

.paths:nth-child(3n-2) {
	fill: red;
}
.paths:nth-child(3n-1) {
	fill: yellow;
}
.paths:nth-child(3n) {
	fill: rgba(30,30,30,1);
}

.paths path:hover {
	cursor: pointer;
	fill: rgba(255,255,255,1);
	transition: fill 0.5s;
}

#map {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: black;
	padding-top: 10vh;
}

#map h2, #map p, #map h6{
	color: white;	
}

.sub-container {
	display: flex;
	height: 80vh;
	flex-direction: row;
	justify-content: center;
}

.sub-container > div {
	text-align: center;
	align-content: center;
}

#map p {
	padding-bottom: 30px;
	margin: 0 5vw 0 5vw;
	text-align: center;
}

.sub-container-left {
	width: 20vw;
}
.sub-container-right {
	width: 30vw;
}

.page-break {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-self: center;
	gap: 20px;
	padding: 60px 0 20px 0;
}

.page-break-outer {
	height: 10px;
	width: 6vw;
	background: red;
}

.page-break-inner {
	height: 10px;
	width: 6vw;
	background: yellow;
}

.page-break-center {
	height: 10px;
	width: 10vw;
	background: black;
}

#map .page-break-center {
	background: white;
}

.Nav {
	width: 100vw;
	height: 8vh;
	background: rgba(0,0,0, 1);
	position: fixed;
	display: flex;
	align-items: center;
	flex-direction: row;
	list-style-type: none;
	gap: 25px;
	z-index: 2;
	justify-content: center;
}

.Nav > a {
	text-decoration: none;
	align-content: right;
	color: white;
	font-family: "Lexend", "serif";
	font-size: 15px;
	padding: 10px 25px 10px 25px;	
}

.Nav a:nth-child(2n):hover {
	color: red;
}
.Nav a:nth-child(2n-1):hover {
	color: yellow;
}

.Nav > a:hover {
	color: green;
	transition: color 0.3s;
}

#intro, #culture, #more {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 0px 30vw 0 30vw;
	position: relative;
}

#more {
	min-height: 85vh;
	z-index: 1;
	background: white;
	padding-top: 10vh !important;
}

#culture {
	padding-bottom: 60px;
}

#intro {
	justify-content: center;
	background: url("./assets/bg-1.jpg");
	background-size: cover;
	text-shadow: 0px 5px 40px black;
	z-index: 1;
	color: white;
}

#intro p {
	color: white;
}

.list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
	padding: 0 0 20px 0;
	margin: 0 -15vw 0 -15vw;
}

.list > div {
	height: 200px;
	width: 125px;
	margin: 20px 0 0 0;
	align-content: center;
	font-family: "Lexend", "serif";	
	background-position: center;
	background-color: black;
	text-shadow: 0px 0px 10px black;
	box-shadow: 0px 5px 5px black;
	transition: transform 0.2s;
	cursor: pointer;
}

.list > div:hover, .clicked {
	transform: translateY(-15px);
	transition: transform 0.2s;
}

.tribe-content {
	color: black;
}

#tribes{
	-webkit-text-stroke: 1px white;
}

#beliefs > div {
	color: white;
	height: 50px;
	width: 200px;
}

.dropdown-menu {
	display: flex;
	flex-direction: column;
	gap: 10px;
	min-width: 100vw;
	padding: 40px 0 40px 0;
	margin: 0 -30vw 0 -30vw;
}

.dropdown-menu > .dropdown-button {
	align-content: center;
	padding: 30px 0 30px 0;
	min-height: 20px;
	border: 5px rgba(0,0,0,0.1) solid;
	transition: transform 0.5s;
	cursor: pointer;
}

.dropdown-button:hover, .dropdown-clicked {
	transform: translateX(2vw);
	transition: transform 0.5s;
}

#one, #five {
	color: white;
	background: rgba(255, 0, 0, 1);
}

#two, #four {
	background: rgba(255,255,0, 1);
	color: black;
}

#three {
	color: white;
	background: rgba(0,0,0, 1);
}

@keyframes dropdown {
	from {max-height: 1vh; padding: 0 20vw 0 20vw}
	to {max-height: 100vh; padding: 40px 20vw 40px 20vw }
}

.dropdown-content {
	max-height: 100vh;
	overflow: hidden;
	color: black;
	background: rgba(0, 0, 0, 0.05);
	padding: 40px 20vw 40px 20vw;
	animation-name: dropdown;
	animation-duration: 1s;
}

.dropdown-content > p {
	color: black;
}

.dropdown-content ul {
	padding: 10px 0 0 0;
	list-style: none;
}

.dropdown-content a:link, .dropdown-content a:visited {
	color: red;
}

#gallery {
	text-align: center;
	align-content: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 80vw;
	overflow: hidden;
	gap: 20px;
	min-height: 0;
}

#gallery > img {
	padding: 20px;
	max-height: auto;
	max-width: 80vw;
}

#gallery > p {
	margin-top: -20px;
	font-size: 16px;
}

h1 {
	font-family: "Lexend", serif;
	font-size: 100px;
	margin: 0 -200px 0 -200px;
}
h2 {
	font-family: "Lexend", serif;
	font-size: 38px;
	font-weight: 1000;
	color: black;
}

h3 {
	font-style: italic;
}

h3, h4 {
	font-family: "Lexend", serif;
	font-size: 15px;
}
h5 {
	color: rgba(0,0,0,0.3);
	font-size: 150px;
	padding-bottom: 70px;
	font-weight: 1000;
}
h6 {
	color: black;
	font-size: 30px;
}
p, li {
	font-size: 16px;
}
p {
	padding: 10px 0 10px 0;	
	color: black;
}

img {
	width: 40vw;
	border: 2px solid black;
}

@media only screen and (max-width: 900px){
	.main-container-wrapper {
		border: 0;
	}

	#intro, #culture, #more {
		display: flex;
		flex-direction: column;
		text-align: center;
		padding: 50px 20vw 0 20vw;
	}

	#culture {
		padding-bottom: 60px;
	}
	
	.Nav {
		width: 100vw;
	}

	.Nav > a {
		font-size: 12px;
		padding: 10px 5px 10px 5px;	
	}
	h1 {
		font-size: 60px;
		margin: 0 -20px 0 -20px;
	}
	h2 {
		font-size: 30px;
	}
	h3 {
		font-size: 15px;
	}
	h5 {
		color: rgba(0,0,0,0.3);
		font-size: 150px;
		padding-bottom: 70px;
		font-weight: 1000;
	}
	h6 {
		font-size: 20px;
	}
	.sub-container {
		flex-direction: column;
	}
	.sub-container > div {
		width: 70vw;
	}
	img {
		width: 60vw;
	}
}

@media only screen and (max-width: 600px){
	#intro, #culture, #more {
		display: flex;
		flex-direction: column;
		text-align: center;
		padding: 50px 15vw 0 15vw;
	}
	.sub-container > div {
		width: 100vw;
	}
	.members {
		padding: 0;
		text-align: center;
		justify-items: center;
	}
	.members * {
		font-size: 11px;
		justify-content: center;
	}
	#culture {
		padding-bottom: 60px;
	}
}
